* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: radial-gradient(circle at top, #6D9773, #0C3B2E);
    color: white;
    min-height: 100vh;
}

header {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card {
    background: #BB8A52;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 35px;
    width: 420px;
    box-shadow: 0 40px 80px rgba(0,0,0,0.6);
    animation: slideIn 0.8s ease;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}


h1, h2, h3 {
    margin-top: 0;
}

.subtitle {
    color: #d6e6ff;
    font-size: 14px;
    margin-bottom: 20px;
}


label {
    margin-top: 15px;
    display: block;
    font-weight: 500;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background:#0C3B2E;
    border: none;
    color: white;
    margin-top: 5px;
}

.upload-box {
    display: inline-block;
    background: #0C3B2E;
    padding: 14px;
    border-radius: 14px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.file-name {
    font-size: 13px;
    margin-top: 8px;
    color:#0C3B2E;
}

.verify-btn {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(45deg, #6dd5fa, #9b59ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.verify-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(155,89,255,0.4);
}


.card.info {
    margin-left: 40px;
    width: 360px;
}

.step {
    background: rgba(0,0,0,0.3);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}


.progress {
    background: #6D9773;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 60%;
    background: linear-gradient(90deg, #6dd5fa, #9b59ff);
    animation: load 2s infinite;
}

@keyframes load {
    0% { width: 10%; }
    50% { width: 90%; }
    100% { width: 10%; }
}

.result-card {
    text-align: center;
}

.status.success {
    background: rgba(0, 255, 180, 0.15);
    padding: 12px;
    border-radius: 14px;
    margin: 20px 0;
    font-size: 18px;
}

.score-box {
    margin: 20px 0;
}

.score {
    font-size: 48px;
    font-weight: bold;
    color: #6dd5fa;
}

.note {
    font-size: 13px;
    color: #cfe5ff;
}

.analysis ul {
    list-style: none;
    padding: 0;
}

.analysis li {
    margin: 8px 0;
}

.back-btn {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 14px;
    background: linear-gradient(45deg, #00f2fe, #4facfe);
}